.friend{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 5px 15px;
  background: #ffffff;
  border-radius: 5px;
  p{
      font-size: 21px;
      color: #7300f7e5;
      font-weight: 500;
  }
  span{
      background: #6c45f9c6;
      color: white;
      padding: 0px 8px;
      border-radius: 30%;
  }
}

@media screen and (max-width : 768px) {
  .friend{
    width: 100%;
  }
}